:root {
    --color-white: #fff;
    --color-white-bg: #e5e5e5;
    --color-white-disabled: #8d8d8d;
    --color-black: #000;
    --color-black2: #181a1c;
    --color-black2-disabled: #191a1c;
    --color-black2-transparent: #181a1ca8;
    --color-green: #00ff46;
    --color-green-active: #00b331;
    --color-green-disabled: #005417;
    --color-purple: #f0f;
    --color-yellow: #ff0;
    --color-grey: var(--bs-gray-300);
    --color-grey-disabled: var(--bs-gray-700);
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
}


.btn-zelf {
    line-height: 1;
    padding: 0.9em 2.95em;
    flex-shrink: 0;
    background: var(--color-green);
    border: 2px solid var(--color-green);
    border-radius: 90px;
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: 500;
    transition: all .1s ease-out;

    display: inline-block;
    text-decoration: none;

    cursor: pointer;
    font-family: Inter,sans-serif;
}
.btn-zelf:hover {
    background:transparent!important;
    color:var(--color-green)!important
}

.btn-zelf-grey {
    line-height: 1;
    padding: 0.9em 2.95em;
    flex-shrink: 0;
    background: var(--color-grey-disabled);
    border: 2px solid var(--color-grey-disabled);
    border-radius: 90px;
    color: var(--color-grey);
    font-size: 1.5rem;
    font-weight: 500;
    transition: all .1s ease-out;

    display: inline-block;
    text-decoration: none;

    cursor: pointer;
    font-family: Inter,sans-serif;
}
.btn-zelf-grey:hover {
    background:transparent!important;
    color:var(--color-grey)!important;
}

.btn-zelf-black {
    line-height: 1;
    padding: 0.9em 2.95em;
    flex-shrink: 0;
    background: var(--color-black2);
    border: 2px solid var(--color-black2);
    border-radius: 90px;
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
    transition: all .1s ease-out;

    display: inline-block;
    text-decoration: none;

    cursor: pointer;
    font-family: Inter,sans-serif;
}
.btn-zelf-black:hover {
    background: var(--color-black2-transparent)!important;
    color:var(--color-white)!important;
}


.form-zelf {
    border: 2px green solid;
    border-radius: 5px;

    background-color: var(--color-black);
    caret-color:  var(--color-green);
    color:  var(--color-white);

    font-family: Inter,sans-serif;
}
.form-zelf:focus {
    outline: 0;
    border: 2px green solid;
}



@media only screen and (max-width: 576px) {
    .form-zelf {
        width: -webkit-fill-available;
    }
    .hide-on-sm-mobile {
        display: none!important;
    }
    .show-on-sm-mobile {
        display: initial;
    }
    

    .card-details.card-number {
        top: 32%;
        left: 7%;
     
        font-size: 6vw;
    }
    .card-details.card-cvv {
        top: 56%;
        left: 75%;

        font-size: 4.5vw;
    }
    .card-details.card-expi {
        top: 56%;
        left: 6%;

        font-size: 4.5vw;
    }
    .card-details.card-holder {
        top: 85%;
        left: 3%;

        font-weight: 500;
        color: white!important;
        font-size: 3.5vw;
    }

    .hide-card-details-btn {
        font-size: 3.5vw;
        display: none;
    }
    .reveal-card-details-btn {
        font-size: 3.5vw;
    }

    
    .card-balance-details-text {
        font-family: Inter, sans-serif;
        font-size: 3.79vw;
    }
    .card-balance-text, .card-bonus-text {
        font-weight: 800;
        font-size: 5vw;
    }

    .limit-balance-details-text, .limit-bonus-details-text {
        font-family: Inter, sans-serif;
        font-size: 4vw;
    }

    .small-action-btn-text {
        font-size: 3.5vw;
    }
}
@media only screen and (min-width: 577px) {
    .hide-on-sm-mobile {
        display: initial;
    }
    .show-on-sm-mobile {
        display: none!important;
    }


    .card-details.card-number {
        top: 32%;
        left: 9%;
     
        font-size: 2.5vw;
    }
    .card-details.card-cvv {
        top: 57%;
        left: 75%;

        font-size: 2vw;
    }
    .card-details.card-expi {
        top: 57%;
        left: 6%;

        font-size: 2vw;
    }
    .card-details.card-holder {
        top: 85%;
        left: 3%;

        font-weight: 500;
        color: white!important;
        font-size: 1.5vw;
    }

    .hide-card-details-btn {
        font-size: 2vw;
        display: none;
    }
    .reveal-card-details-btn {
        font-size: 2vw;
    }


    .card-balance-details-text {
        font-family: Inter, sans-serif;
        font-size: 1.6vw;
    }
    .card-balance-text, .card-bonus-text {
        font-weight: 800;
        font-size: 1.9vw;
    }

    .limit-balance-details-text, .limit-bonus-details-text {
        font-family: Inter, sans-serif;
        font-size: 1.9vw;
    }

    .small-action-btn-text {
        font-size: 1.4vw;
    }


}

#login-step-two-btn {
    display: none;
}


.box {
    display: block;

    width: 95%;
    height: 95%;

    background-color: #20202082;
    
    border-radius: 5px;
    box-shadow: 0 20px 30px 3px rgb(0 0 0 / 55%);
}

#customer-pp {
    width: 100%;
    height: auto;
    border-radius: 150px;
}

.card-details {
    position: absolute;
    color: black;
    font-family: Ocra,Arial,sans-serif;
    font-weight: 800;
    text-transform: uppercase;

    cursor: pointer;
}




.limits-box {
    display: none;
}






.-centered {
    display: flex;
    justify-content: center!important;
}

.my-zelf-icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background-image: url(/static/img/logo.png);
    background-size: cover;
    margin-bottom: -3px;

}

.text-error {
    color:  var(--bs-danger);
}
.text-disabled {
    color: var(--color-white-disabled);
}

.input-disabled {
    cursor: default;
    pointer-events: none;

    border: 2px var(--color-green-disabled) solid;
}
.input-disabled::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-grey-disabled);
  opacity: 1; /* Firefox */
}
.input-disabled:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-grey-disabled);
}
.input-disabled::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-grey-disabled);
}

.btn-disabled {
    cursor: not-allowed;
    pointer-events: none;

    background-color: var(--color-black2-disabled)!important;
}


.row-no-gutter {
    --bs-gutter-x: 0!important;
}

.fa-1_5x {
    font-size: 1.5em;
}


/* Adapted from https://stackoverflow.com/a/26186450 */
.striked {
  text-decoration: none;

  position: relative;
  display: inline-block;
}
.striked:after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 5%;
  border-top: 1px solid red;

  height: 45%;
  height: calc(50% - 1px); /* Not compatible with IE 8 */
  width: 98%;
  transform: rotateZ(-15deg);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.font-sg {
    font-family: SpaceGrotesk, sans-serif;
}
@font-face {
    font-family: SpaceGrotesk;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:  url(/static/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2) format("woff2"),
          url(/static/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/static/fonts/Inter/Inter-Medium.woff2) format("woff2"),
         url(/static/fonts/Inter/Inter-Medium.woff) format("woff")
}

@font-face {
    font-family: Ocra;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:  url(/static/fonts/Ocra/ocra.otf) format("opentype");
}
}